# ignore secrets, virtual environments, and typical python compilation artifacts
secrets.toml
.venv/
.env

# ignore python generated artifacts
**/__pycache__/
**/*.py[cod]
**/*$py.class
build/
dist/
wheels/
*.egg-info

# ignore logs
logs/
*.log

# ignore vscode
.vscode/

# ignore duckdb
*.duckdb
*.wal
*.backup

# ignore dbt
transform/target/
transform/dbt_packages/
transform/logs/

# ignore misc
.DS_Store
.idea
.claude/

# ignore evidence
visualize/node_modules/
visualize/.svelte-kit/
visualize/.evidence/
